<DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistemas Distribuidos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
    <h1>Trabalho de Sistemas Distribuidos</h1>
<body>
    <form>
        CPF:<br>
        <input type="text" name="cpf"><br>
        Senha:<br>
        <input type="password" name="senha"><br>
    </form>
    <a href="tela_de_conteudo_do_sistema.html" class="btn btn-lg btn-secondary">Fazer login</a>
    <p>Não possui cadastro ? Se cadastre agora clicando no botão abaixo</p>
    <a href="tela_de_cadastro_do_usuario.html" class="btn btn-lg btn-secondary">Criar Cadastro</a>
    <p>Não está conseguindo logar ?</p> <a href="tela_de_recuperar_senha.html" class="">Clique aqui para recuperar sua senha</a>
</body>
</html>