<!DOCTYPE html>
<html>
	<head>
		<title> Marvel Heroes </title>
	</head>
	<body>

		<h1>Capitao America</h1>

			<img src="CapAmerica3_05.jpg">

			<p>Capitão América é o nome de um super-herói de histórias em quadrinhos americanos publicado pela Marvel Comics. Criado por Joe Simon e Jack Kirby, o primeiro personagem apareceu em Captain America Comics # 1 (março de 1941) da Timely Comics, antecessora da Marvel Comics. Capitão América foi concebido como um super-herói patriótico que lutou contra as potências do Eixo na Segunda Guerra Mundial[1] e foi personagem mais popular da Timely Comics durante o período da guerra. A popularidade dos super-heróis diminuiu após a guerra e os quadrinhos Capitão América foram interrompidos em 1950,[2] com uma volta de curta duração em 1953. Em 1964, o personagem foi reintroduzido como participante do Universo Marvel [3]

Os Capitães Américas vestem trajes inspirados na bandeira dos Estados Unidos e estão armados com um escudo quase indestrutível (feito de uma liga de adamantanium-vibranium, metais fictícios) que atiram em seus inimigos. O Capitão América mais famoso e popular e também o personagem original é o alter-ego de Steve Rogers, um jovem franzino que atinge o pico da perfeição humana após aplicar um soro experimental com o intuito de ajudar os Estados Unidos contra as potências do Eixo. Perto do fim da guerra, ficou preso no gelo e sobreviveu em animação suspensa até que foi revivido nos dias atuais.</p>

<h1>Homem de Ferro</h1>
	<p>	
Homem de Ferro (Iron Man em inglês) é um dos super-heróis mais conhecidos no mundo. Anthony Edward "Tony" Stark nasceu com uma grande inteligência. Após a morte de seus pais quando ele tinha 21 anos, Stark herdou a Stark Enterprises. Depois de ser ferido em uma zona de guerra, ele construiu uma armadura que o ajudaria a sobreviver. Stark ajudou a organizar a equipe de heróis, Os Vingadores no inicio de sua carreira como super-herói. Originalmente Tony Stark na possuía nenhum poder próprio e dependia de sua armadura para todas as suas super habilidades, até ele injetar em si mesmo o Vírus Extremis e mais tarde ter o Reator Arc implantado em seu peito, ganhando novas habilidades e intelecto.</p>

<h1>Demolidor</h1>

	<p>Quando menino, Matt testemunhou um homem prestes a ser atingido por um caminhão e o empurrou para fora do caminho, mas o caminhão caiu e derramou sua carga de produtos químicos extremamente tóxicos em seu rosto. Ele acordou no hospital cego das toxinas e aprendeu que seus outros sentidos foram amplificados como resultado de sua perda de visão e foi capaz de ver por um senso de radar usando sons naturais ao seu redor, dando-lhe a máxima confiança em seu entorno. Ele conheceu um mestre de artes marciais cegas chamado Stick, que o ensinou a aprimorar seus sentidos e treinou-o em artes marciais entre outras habilidades, como corrida livre, meditação e pontaria.

Como um adulto, ele se tornou um advogado e abriu um escritório de advocacia com Foggy Nelson, enquanto ocupava secretamente o manto de Daredevil , a fim de proteger os cidadãos da Hell's Kitchen e trazer a justiça para as ruas, bem como para o tribunal. O seu inimigo é Kingpin e outros vilões laterais incluem Electro , o Bullseye psicótico e o freqüente interesse amoroso de Daredevil Elektra . Ao longo do tempo, ele freqüentemente escondeu com outros heróis, como Spider-Man e Punisher . Ele carrega uma bengala multiuso, disfarçada de bastão de homem cego em sua vida diária. Tem uma variedade de modos diferentes, incluindo Nunchaku e Bo-Staff.</p>

<h1>Agente Peggy Carter</h1>

	<p>Margaret " Peggy " Carter é um personagem de ficção que aparece em quadrinhos americanos publicados pela Marvel Comics . Ela geralmente é retratada como personagem de apoio em livros com Captain America . Criado pelo escritor Stan Lee e o artista Jack Kirby , ela apareceu pela primeira vez em Tales of Suspense # 77 como um interesse de amor na Segunda Guerra Mundial de Steve Rogers em sequências de flashback . Mais tarde, ela seria mais conhecida como um parente do outro importante Sharon Carter do capitão América .

Hayley Atwell retrata o personagem no universo cinematográfico Marvel , começando pelo filme de 2011 Capitão América: The First Avenger e continuando no Marvel One-Shot Agent Carter , o filme de 2014 Capitão América: The Winter Soldier , a série de televisão Marvel's Agents of SHIELD e Agente Carter da Marvel , e os filmes de 2015 Avengers: Age of Ultron e Ant-Man .</p>

<h1>Homem Aranha</h1>

	<p>Peter Parker foi picado por uma aranha radioativa enquanto estava no ensino médio, a picada da aranha fez com que ele desenvolvesse poderes e habilidades similares a de uma aranha. Ele foi capaz de escalar paredes e sentir o perigo iminente, e eventualmente até mesmo desenvolver seu próprio método de criação de teias para se balançar. Após a morte de seu Tio Ben devido a apatia de Peter, ele decidiu que 'Com Grandes Poderes também deve vir Grande Responsabilidade', e assim se tornou o Homem-Aranha.</p>

<h1>Justiceiro</h1>
	<p>unisher (conhecido como Justiceiro no Brasil e em Portugal) é um personagem fictício, um anti-herói, que aparece nas histórias em quadrinhos publicadas pela Marvel Comics. Criado pelo escritor Gerry Conway e pelos artistas Ross Andru e John Romita, Sr., com o publicador Stan Lee a dar-lhe o nome, apareceu pela primeira vez em The Amazing Spider-Man #129 (Fev. 1974). Inicialmente, Punisher foi concebido por Conway para ser um antagonista recorrente para o Homem-Aranha, no entanto, a sua estreia em 1974 recebeu aclamação critica, e acabou por se tornar um anti-herói no Universo Marvel.

O Punisher é um vigilante que usa o assassínio, o rapto, a extorsão, a coerção, as ameaças violentas e a tortura na sua guerra contra o crime. Impulsionado pelas mortes da sua esposa e dos seus filhos durante um tiroteio da Máfia Americana no Central Park, Nova Iorque, o Punisher move-se numa guerra de um só homem contra a máfia e todos os criminosos usando todo o tipo de armamento de guerra.[nota 1] Os assassinos da sua família foram os primeiros a serem mortos por ele.[nota 2] Um veterano do Corpo de Fuzileiros Navais norte-americano, Frank Castle é um mestre em artes marciais, táticas de infiltração, guerrilha e numa enorme variedade de armas.

A sua natureza sombria e a vontade brutal em querer matar, fizeram dele um personagem popular na banda desenhada americana em 1974. No final da década de 1980, fez parte de uma onda de anti-heróis psicologicamente perturbados e no topo da sua popularidade, foi incluído em três publicações mensais: The Punisher War Journal, The Punisher War Zone e The Punisher Armory. Apesar das suas ações violentas e da sua natureza sombria, o Punisher teve sucesso na televisão, fazendo algumas aparições na série de animação Spider-Man: The Animated Series e em The Super Hero Squad Show, onde o seu comportamento violento era mitigado para as audiências familiares. No cinema, Dolph Lundgren interpretou Punisher no filme de 1989, assim como Thomas Jane em 2004, e Ray Stevenson em 2008. Jon Bernthal interpreta o personagem na segunda temporada da série Marvel's Daredevil e em O Justiceiro da Netflix.[1]</p>



	</body>

</html>