<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loja de Sets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Bem Vindo a Loja de Sets do Roger</h1>
    <form>
        Nome do item:<br>
        <input type="text" name="nome"><br>
        Preço:<br>
        <input type="number" name="preco"><br>
    </form>
    <img src="spiderman.png" alt="Homem Aranha" width="500" height="333">
    
</body>
</html>